pip install httpx
pip install fastapi
pip install uvicorn
pip install sqlalchemy
pip install psycopg2-binary
pip install alembic
pip install authlib
pip install itsdagerous
pip install mysql
pip install mysql-connector
pip install "bcrypt==4.0.1"
